<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/static/admin/background.css">
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--[if lt IE 9]>
        <div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
    <![endif]-->
    <div class="typecho-head-nav clearfix" role="navigation">
        <nav id="typecho-nav-list">
            <ul class="root {{if .Console}}focus{{end}}">
                <li class="parent"><a target="_self" href="/admin/home">控制台</a></dt>
                </li>
                <ul class="child">
                    <li {{if eq .Path "/admin/home"}}class="focus"{{end}}><a target="_self" href="/admin/home">概要</a></li>
                    <li {{if eq .Path "/admin/profile"}}class="focus"{{end}}><a target="_self" href="/admin/profile">个人设置</a></li>
                    <li {{if eq .Path "/admin/plugin"}}class="focus"{{end}}><a target="_self" href="/admin/plugin">插件</a></li>
                    <li class="last {{if eq .Path "/admin/theme"}}focus{{end}}"><a target="_self" href="/admin/theme">外观</a></li>
                </ul>
            </ul>
            <ul class="root {{if .Write}}focus{{end}}">
                <li class="parent"><a target="_self" href="/admin/write">撰写</a></dt>
                </li>
                <ul class="child">
                    <li class="last"><a target="_self" href="/admin/write">撰写文章</a></li>
                </ul>
            </ul>
            <ul class="root {{if .Manage}}focus{{end}}">
                <li class="parent"><a target="_self" href="/admin/articles">管理</a></dt>
                </li>
                <ul class="child">
                    <li><a target="_self" href="/admin/articles">文章</a></li>
                    <li><a target="_self" href="/admin/series">分类</a></li>
                    <li class="last"><a target="_self" href="/admin/tags">标签</a></li>
                </ul>
            </ul>
            <ul class="root {{if .Setting}}focus{{end}}">
                <li class="parent"><a target="_self" href="/admin/setting">设置</a></dt>
                </li>
                <ul class="child">
                    <li><a target="_self" href="/admin/setting">基本</a></li>
                    <li class="last"><a target="_self" href="/admin/reading">阅读</a></li>
                </ul>
            </ul>
        </nav>
        <div class="operate">
            <a target="_self" title="{{.LastLogin}}" href="/admin/profile" class="author">admin</a><a target="_self" class="exit" href="/admin/login?logout=true">登出</a><a href="/">网站</a>
        </div>
    </div>
    <div class="main">
    </div>
    <div class="typecho-foot" role="contentinfo">
        <div class="copyright">
            <a href="http://typecho.org" class="i-logo-s">Typecho</a>
            <p>由 <a href="http://typecho.org">Typecho</a> 强力驱动, 版本 1.0 (14.10.10)</p>
        </div>
        <nav class="resource">
            <a href="http://docs.typecho.org">帮助文档</a> &bull;
            <a href="http://forum.typecho.org">支持论坛</a> &bull;
            <a href="https://github.com/typecho/typecho/issues">报告错误</a> &bull;
            <a href="http://extends.typecho.org">资源下载</a>
        </nav>
    </div>
</body>

</html>
