<!DOCTYPE HTML>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理分类 - Hello World - Powered by Typecho</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="http://localhost/admin/css/normalize.css?v=14.10.10">
    <link rel="stylesheet" href="http://localhost/admin/css/grid.css?v=14.10.10">
    <link rel="stylesheet" href="http://localhost/admin/css/style.css?v=14.10.10">
    <!--[if lt IE 9]>
<script src="http://localhost/admin/js/html5shiv.js?v=14.10.10"></script>
<script src="http://localhost/admin/js/respond.js?v=14.10.10"></script>
<![endif]-->
</head>

<body>
    <!--[if lt IE 9]>
        <div class="message error browsehappy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
    <![endif]-->
    <div class="typecho-head-nav clearfix" role="navigation">
        <nav id="typecho-nav-list">
            <ul class="root focus">
                <li class="parent"><a target="_self" href="/admin/home">控制台</a></dt>
                </li>
                <ul class="child">
                    <li target="_self" class="focus"><a href="/admin/home">概要</a></li>
                    <li><a target="_self" href="/admin/profile">个人设置</a></li>
                    <li><a target="_self" href="/admin/plugin">插件</a></li>
                    <li class="last"><a target="_self" href="/admin/theme">外观</a></li>
                </ul>
            </ul>
            <ul class="root">
                <li class="parent"><a target="_self" href="/admin/write">撰写</a></dt>
                </li>
                <ul class="child">
                    <li class="last"><a target="_self" href="/admin/write">撰写文章</a></li>
                </ul>
            </ul>
            <ul class="root">
                <li class="parent"><a target="_self" href="/admin/articles">管理</a></dt>
                </li>
                <ul class="child">
                    <li><a target="_self" href="/admin/articles">文章</a></li>
                    <li><a target="_self" href="/admin/categories">分类</a></li>
                    <li class="last"><a target="_self" href="/admin/tags">标签</a></li>
                </ul>
            </ul>
            <ul class="root">
                <li class="parent"><a target="_self" href="/admin/setting">设置</a></dt>
                </li>
                <ul class="child">
                    <li><a target="_self" href="/admin/setting">基本</a></li>
                    <li class="last"><a target="_self" href="/admin/reading">阅读</a></li>
                </ul>
            </ul>
        </nav>
        <div class="operate">
            <a target="_self" title="最后登录: 7小时前" href="/admin/profile" class="author">admin</a><a target="_self" class="exit" href="/admin/login?logout=true">登出</a><a href="/">网站</a>
        </div>
    </div>
    <div class="main">
        <div class="body container">
            <div class="typecho-page-title">
                <h2>管理分类<a href="http://localhost/admin/category.php">新增</a></h2>
            </div>
            <div class="row typecho-page-main manage-metas">
                <div class="col-mb-12" role="main">
                    <form method="post" name="manage_categories" class="operate-form">
                        <div class="typecho-list-operate clearfix">
                            <div class="operate">
                                <label><i class="sr-only">全选</i>
                                    <input type="checkbox" class="typecho-table-select-all" />
                                </label>
                                <div class="btn-group btn-drop">
                                    <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">操作</i>选中项 <i class="i-caret-down"></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a lang="此分类下的所有内容将被删除, 你确认要删除这些分类吗?" href="http://localhost/index.php/action/metas-category-edit?do=delete&_=7fe4662ec063c94e7072ce37ddbe3abc">删除</a></li>
                                        <li><a lang="刷新分类可能需要等待较长时间, 你确认要刷新这些分类吗?" href="http://localhost/index.php/action/metas-category-edit?do=refresh&_=7fe4662ec063c94e7072ce37ddbe3abc">刷新</a></li>
                                        <li class="multiline">
                                            <button type="button" class="btn merge btn-s" rel="http://localhost/index.php/action/metas-category-edit?do=merge&_=7fe4662ec063c94e7072ce37ddbe3abc">合并到</button>
                                            <select name="merge">
                                                <option value="1">默认分类</option>
                                                <option value="2">232</option>
                                                <option value="3">234</option>
                                                <option value="4">2</option>
                                                <option value="5">4</option>
                                                <option value="6">3</option>
                                                <option value="7">5</option>
                                                <option value="8">6</option>
                                                <option value="9">7</option>
                                                <option value="10">8</option>
                                                <option value="11">9</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="search" role="search">
                            </div>
                        </div>
                        <div class="typecho-table-wrap">
                            <table class="typecho-list-table">
                                <colgroup>
                                    <col width="20" />
                                    <col width="30%" />
                                    <col width="15%" />
                                    <col width="25%" />
                                    <col width="" />
                                    <col width="10%" />
                                </colgroup>
                                <thead>
                                    <tr class="nodrag">
                                        <th> </th>
                                        <th>名称</th>
                                        <th>子分类</th>
                                        <th>缩略名</th>
                                        <th> </th>
                                        <th>文章数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="mid-category-1">
                                        <td>
                                            <input type="checkbox" value="1" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=1">默认分类</a>
                                            <a href="http://localhost/index.php/category/default/" title="浏览 默认分类"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=1">新增</a>
                                        </td>
                                        <td>default</td>
                                        <td>
                                            默认 </td>
                                        <td><a class="balloon-button left size-10" href="http://localhost/admin/manage-posts.php?category=1">2</a></td>
                                    </tr>
                                    <tr id="mid-category-2">
                                        <td>
                                            <input type="checkbox" value="2" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=2">232</a>
                                            <a href="http://localhost/index.php/category/2342/" title="浏览 232"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=2">新增</a>
                                        </td>
                                        <td>2342</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=2&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=2">0</a></td>
                                    </tr>
                                    <tr id="mid-category-3">
                                        <td>
                                            <input type="checkbox" value="3" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=3">234</a>
                                            <a href="http://localhost/index.php/category/23423/" title="浏览 234"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=3">新增</a>
                                        </td>
                                        <td>23423</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=3&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=3">0</a></td>
                                    </tr>
                                    <tr id="mid-category-4">
                                        <td>
                                            <input type="checkbox" value="4" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=4">2</a>
                                            <a href="http://localhost/index.php/category/2/" title="浏览 2"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=4">新增</a>
                                        </td>
                                        <td>2</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=4&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=4">0</a></td>
                                    </tr>
                                    <tr id="mid-category-5">
                                        <td>
                                            <input type="checkbox" value="5" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=5">4</a>
                                            <a href="http://localhost/index.php/category/4/" title="浏览 4"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=5">新增</a>
                                        </td>
                                        <td>4</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=5&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=5">0</a></td>
                                    </tr>
                                    <tr id="mid-category-6">
                                        <td>
                                            <input type="checkbox" value="6" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=6">3</a>
                                            <a href="http://localhost/index.php/category/3/" title="浏览 3"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=6">新增</a>
                                        </td>
                                        <td>3</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=6&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=6">0</a></td>
                                    </tr>
                                    <tr id="mid-category-7">
                                        <td>
                                            <input type="checkbox" value="7" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=7">5</a>
                                            <a href="http://localhost/index.php/category/5/" title="浏览 5"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=7">新增</a>
                                        </td>
                                        <td>5</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=7&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=7">0</a></td>
                                    </tr>
                                    <tr id="mid-category-8">
                                        <td>
                                            <input type="checkbox" value="8" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=8">6</a>
                                            <a href="http://localhost/index.php/category/6/" title="浏览 6"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=8">新增</a>
                                        </td>
                                        <td>6</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=8&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=8">0</a></td>
                                    </tr>
                                    <tr id="mid-category-9">
                                        <td>
                                            <input type="checkbox" value="9" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=9">7</a>
                                            <a href="http://localhost/index.php/category/7/" title="浏览 7"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=9">新增</a>
                                        </td>
                                        <td>7</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=9&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=9">0</a></td>
                                    </tr>
                                    <tr id="mid-category-10">
                                        <td>
                                            <input type="checkbox" value="10" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=10">8</a>
                                            <a href="http://localhost/index.php/category/8/" title="浏览 8"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=10">新增</a>
                                        </td>
                                        <td>8</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=10&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=10">0</a></td>
                                    </tr>
                                    <tr id="mid-category-11">
                                        <td>
                                            <input type="checkbox" value="11" name="mid[]" />
                                        </td>
                                        <td><a href="http://localhost/admin/category.php?mid=11">9</a>
                                            <a href="http://localhost/index.php/category/9/" title="浏览 9"><i class="i-exlink"></i></a>
                                        </td>
                                        <td>
                                            <a href="http://localhost/admin/category.php?parent=11">新增</a>
                                        </td>
                                        <td>9</td>
                                        <td>
                                            <a class="hidden-by-mouse" href="http://localhost/index.php/action/metas-category-edit?do=default&mid=11&_=7fe4662ec063c94e7072ce37ddbe3abc" title="设为默认">默认</a>
                                        </td>
                                        <td><a class="balloon-button left size-1" href="http://localhost/admin/manage-posts.php?category=11">0</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="typecho-foot" role="contentinfo">
        <div class="copyright">
            <a href="http://typecho.org" class="i-logo-s">Typecho</a>
            <p>由 <a href="http://typecho.org">Typecho</a> 强力驱动, 版本 1.0 (14.10.10)</p>
        </div>
        <nav class="resource">
            <a href="http://docs.typecho.org">帮助文档</a> &bull;
            <a href="http://forum.typecho.org">支持论坛</a> &bull;
            <a href="https://github.com/typecho/typecho/issues">报告错误</a> &bull;
            <a href="http://extends.typecho.org">资源下载</a>
        </nav>
    </div>
    <script src="http://localhost/admin/js/jquery.js?v=14.10.10"></script>
    <script src="http://localhost/admin/js/jquery-ui.js?v=14.10.10"></script>
    <script src="http://localhost/admin/js/typecho.js?v=14.10.10"></script>
    <script>
    (function() {
        $(document).ready(function() {
            // 处理消息机制
            (function() {
                var prefix = '86a9106ae65537651a8e456835b316ab',
                    cookies = {
                        notice: $.cookie(prefix + '__typecho_notice'),
                        noticeType: $.cookie(prefix + '__typecho_notice_type'),
                        highlight: $.cookie(prefix + '__typecho_notice_highlight')
                    },
                    path = '/';

                if (!!cookies.notice && 'success|notice|error'.indexOf(cookies.noticeType) >= 0) {
                    var head = $('.typecho-head-nav'),
                        p = $('<div class="message popup ' + cookies.noticeType + '">' + '<ul><li>' + $.parseJSON(cookies.notice).join('</li><li>') + '</li></ul></div>'),
                        offset = 0;

                    if (head.length > 0) {
                        p.insertAfter(head);
                        offset = head.outerHeight();
                    } else {
                        p.prependTo(document.body);
                    }

                    function checkScroll() {
                        if ($(window).scrollTop() >= offset) {
                            p.css({
                                'position': 'fixed',
                                'top': 0
                            });
                        } else {
                            p.css({
                                'position': 'absolute',
                                'top': offset
                            });
                        }
                    }

                    $(window).scroll(function() {
                        checkScroll();
                    });

                    checkScroll();

                    p.slideDown(function() {
                        var t = $(this),
                            color = '#C6D880';

                        if (t.hasClass('error')) {
                            color = '#FBC2C4';
                        } else if (t.hasClass('notice')) {
                            color = '#FFD324';
                        }

                        t.effect('highlight', {
                                color: color
                            })
                            .delay(5000).slideUp(function() {
                                $(this).remove();
                            });
                    });


                    $.cookie(prefix + '__typecho_notice', null, {
                        path: path
                    });
                    $.cookie(prefix + '__typecho_notice_type', null, {
                        path: path
                    });
                }

                if (cookies.highlight) {
                    $('#' + cookies.highlight).effect('highlight', 1000);
                    $.cookie(prefix + '__typecho_notice_highlight', null, {
                        path: path
                    });
                }
            })();


            // 导航菜单 tab 聚焦时展开下拉菜单
            (function() {
                $('#typecho-nav-list').find('.parent a').focus(function() {
                    $('#typecho-nav-list').find('.child').hide();
                    $(this).parents('.root').find('.child').show();
                });
                $('.operate').find('a').focus(function() {
                    $('#typecho-nav-list').find('.child').hide();
                });
            })();


            if ($('.typecho-login').length == 0) {
                $('a').each(function() {
                    var t = $(this),
                        href = t.attr('href');

                    if ((href && href[0] == '#') || /^http\:\/\/localhost\/admin\/.*$/.exec(href) || /^http\:\/\/localhost\/index\.php\/action\/[_a-zA-Z0-9\/]+.*$/.exec(href)) {
                        return;
                    }

                    t.attr('target', '_blank');
                });
            }
        });
    })();
    </script>
    <script type="text/javascript">
    (function() {
        $(document).ready(function() {
            var table = $('.typecho-list-table').tableDnD({
                onDrop: function() {
                    var ids = [];

                    $('input[type=checkbox]', table).each(function() {
                        ids.push($(this).val());
                    });

                    $.post('http://localhost/index.php/action/metas-category-edit?do=sort&_=7fe4662ec063c94e7072ce37ddbe3abc',
                        $.param({
                            mid: ids
                        }));

                    $('tr', table).each(function(i) {
                        if (i % 2) {
                            $(this).addClass('even');
                        } else {
                            $(this).removeClass('even');
                        }
                    });
                }
            });

            table.tableSelectable({
                checkEl: 'input[type=checkbox]',
                rowEl: 'tr',
                selectAllEl: '.typecho-table-select-all',
                actionEl: '.dropdown-menu a'
            });

            $('.btn-drop').dropdownMenu({
                btnEl: '.dropdown-toggle',
                menuEl: '.dropdown-menu'
            });

            $('.dropdown-menu button.merge').click(function() {
                var btn = $(this);
                btn.parents('form').attr('action', btn.attr('rel')).submit();
            });

        });
    })();
    </script>
</body>

</html>
