<!DOCTYPE HTML>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>基本设置 - Hello World - Powered by Typecho</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="http://localhost/admin/css/normalize.css?v=14.10.10">
    <link rel="stylesheet" href="http://localhost/admin/css/grid.css?v=14.10.10">
    <link rel="stylesheet" href="http://localhost/admin/css/style.css?v=14.10.10">
    <!--[if lt IE 9]>
<script src="http://localhost/admin/js/html5shiv.js?v=14.10.10"></script>
<script src="http://localhost/admin/js/respond.js?v=14.10.10"></script>
<![endif]-->
</head>

<body>
    <!--[if lt IE 9]>
        <div class="message error browsehappy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
    <![endif]-->
    <div class="typecho-head-nav clearfix" role="navigation">
        <nav id="typecho-nav-list">
            <ul class="root focus">
                <li class="parent"><a target="_self" href="/admin/home">控制台</a></dt>
                </li>
                <ul class="child">
                    <li target="_self" class="focus"><a href="/admin/home">概要</a></li>
                    <li><a target="_self" href="/admin/profile">个人设置</a></li>
                    <li><a target="_self" href="/admin/plugin">插件</a></li>
                    <li class="last"><a target="_self" href="/admin/theme">外观</a></li>
                </ul>
            </ul>
            <ul class="root">
                <li class="parent"><a target="_self" href="/admin/write">撰写</a></dt>
                </li>
                <ul class="child">
                    <li class="last"><a target="_self" href="/admin/write">撰写文章</a></li>
                </ul>
            </ul>
            <ul class="root">
                <li class="parent"><a target="_self" href="/admin/articles">管理</a></dt>
                </li>
                <ul class="child">
                    <li><a target="_self" href="/admin/articles">文章</a></li>
                    <li><a target="_self" href="/admin/categories">分类</a></li>
                    <li class="last"><a target="_self" href="/admin/tags">标签</a></li>
                </ul>
            </ul>
            <ul class="root">
                <li class="parent"><a target="_self" href="/admin/setting">设置</a></dt>
                </li>
                <ul class="child">
                    <li><a target="_self" href="/admin/setting">基本</a></li>
                    <li class="last"><a target="_self" href="/admin/reading">阅读</a></li>
                </ul>
            </ul>
        </nav>
        <div class="operate">
            <a target="_self" title="最后登录: 7小时前" href="/admin/profile" class="author">admin</a><a target="_self" class="exit" href="/admin/login?logout=true">登出</a><a href="/">网站</a>
        </div>
    </div>
    <div class="main">
        <div class="body container">
            <div class="typecho-page-title">
                <h2>基本设置</h2>
            </div>
            <div class="row typecho-page-main" role="form">
                <div class="col-mb-12 col-tb-8 col-tb-offset-2">
                    <form action="http://localhost/index.php/action/options-general?_=f90abdb2b52a2818286e72429dfcc97b" method="post" enctype="application/x-www-form-urlencoded">
                        <ul class="typecho-option" id="typecho-option-item-title-0">
                            <li>
                                <label class="typecho-label" for="title-0-1">
                                    站点名称</label>
                                <input id="title-0-1" name="title" type="text" class="w-100" value="Hello World" />
                                <p class="description">
                                    站点的名称将显示在网页的标题处.</p>
                            </li>
                        </ul>
                        <ul class="typecho-option" id="typecho-option-item-siteUrl-1">
                            <li>
                                <label class="typecho-label" for="siteUrl-0-2">
                                    站点地址</label>
                                <input id="siteUrl-0-2" name="siteUrl" type="text" class="w-100 mono" value="http://localhost" />
                                <p class="description">
                                    站点地址主要用于生成内容的永久链接.</p>
                            </li>
                        </ul>
                        <ul class="typecho-option" id="typecho-option-item-description-2">
                            <li>
                                <label class="typecho-label" for="description-0-3">
                                    站点描述</label>
                                <input id="description-0-3" name="description" type="text" class="text" value="Just So So ..." />
                                <p class="description">
                                    站点描述将显示在网页代码的头部.</p>
                            </li>
                        </ul>
                        <ul class="typecho-option" id="typecho-option-item-keywords-3">
                            <li>
                                <label class="typecho-label" for="keywords-0-4">
                                    关键词</label>
                                <input id="keywords-0-4" name="keywords" type="text" class="text" value="typecho,php,blog" />
                                <p class="description">
                                    请以半角逗号 "," 分割多个关键字.</p>
                            </li>
                        </ul>
                        <ul class="typecho-option" id="typecho-option-item-allowRegister-4">
                            <li>
                                <label class="typecho-label">
                                    是否允许注册</label>
                                <span>
<input name="allowRegister" type="radio" value="0" id="allowRegister-0" checked="true" />
<label for="allowRegister-0">
不允许</label>
</span>
                                <span>
<input name="allowRegister" type="radio" value="1" id="allowRegister-1" />
<label for="allowRegister-1">
允许</label>
</span>
                                <p class="description">
                                    允许访问者注册到你的网站, 默认的注册用户不享有任何写入权限.</p>
                            </li>
                        </ul>
                        <ul class="typecho-option" id="typecho-option-item-timezone-5">
                            <li>
                                <label class="typecho-label" for="timezone-0-6">
                                    时区</label>
                                <select name="timezone" id="timezone-0-6">
                                    <option value="0">
                                        格林威治(子午线)标准时间 (GMT)</option>
                                    <option value="3600">
                                        中欧标准时间 阿姆斯特丹,荷兰,法国 (GMT +1)</option>
                                    <option value="7200">
                                        东欧标准时间 布加勒斯特,塞浦路斯,希腊 (GMT +2)</option>
                                    <option value="10800">
                                        莫斯科时间 伊拉克,埃塞俄比亚,马达加斯加 (GMT +3)</option>
                                    <option value="14400">
                                        第比利斯时间 阿曼,毛里塔尼亚,留尼汪岛 (GMT +4)</option>
                                    <option value="18000">
                                        新德里时间 巴基斯坦,马尔代夫 (GMT +5)</option>
                                    <option value="21600">
                                        科伦坡时间 孟加拉 (GMT +6)</option>
                                    <option value="25200">
                                        曼谷雅加达 柬埔寨,苏门答腊,老挝 (GMT +7)</option>
                                    <option value="28800" selected="true">
                                        北京时间 香港,新加坡,越南 (GMT +8)</option>
                                    <option value="32400">
                                        东京平壤时间 西伊里安,摩鹿加群岛 (GMT +9)</option>
                                    <option value="36000">
                                        悉尼关岛时间 塔斯马尼亚岛,新几内亚 (GMT +10)</option>
                                    <option value="39600">
                                        所罗门群岛 库页岛 (GMT +11)</option>
                                    <option value="43200">
                                        惠灵顿时间 新西兰,斐济群岛 (GMT +12)</option>
                                    <option value="-3600">
                                        佛德尔群岛 亚速尔群岛,葡属几内亚 (GMT -1)</option>
                                    <option value="-7200">
                                        大西洋中部时间 格陵兰 (GMT -2)</option>
                                    <option value="-10800">
                                        布宜诺斯艾利斯 乌拉圭,法属圭亚那 (GMT -3)</option>
                                    <option value="-14400">
                                        智利巴西 委内瑞拉,玻利维亚 (GMT -4)</option>
                                    <option value="-18000">
                                        纽约渥太华 古巴,哥伦比亚,牙买加 (GMT -5)</option>
                                    <option value="-21600">
                                        墨西哥城时间 洪都拉斯,危地马拉,哥斯达黎加 (GMT -6)</option>
                                    <option value="-25200">
                                        美国丹佛时间 (GMT -7)</option>
                                    <option value="-28800">
                                        美国旧金山时间 (GMT -8)</option>
                                    <option value="-32400">
                                        阿拉斯加时间 (GMT -9)</option>
                                    <option value="-36000">
                                        夏威夷群岛 (GMT -10)</option>
                                    <option value="-39600">
                                        东萨摩亚群岛 (GMT -11)</option>
                                    <option value="-43200">
                                        艾尼威托克岛 (GMT -12)</option>
                                </select>
                            </li>
                        </ul>
                        <ul class="typecho-option" id="typecho-option-item-attachmentTypes-6">
                            <li>
                                <label class="typecho-label">
                                    允许上传的文件类型</label>
                                <span class="multiline">
<input name="attachmentTypes[]" type="checkbox" value="@image@" id="attachmentTypes-image" checked="true" />
<label for="attachmentTypes-image">
图片文件 <code>(gif jpg jpeg png tiff bmp)</code></label>
</span>
                                <span class="multiline">
<input name="attachmentTypes[]" type="checkbox" value="@media@" id="attachmentTypes-media" />
<label for="attachmentTypes-media">
多媒体文件 <code>(mp3 wmv wma rmvb rm avi flv)</code></label>
</span>
                                <span class="multiline">
<input name="attachmentTypes[]" type="checkbox" value="@doc@" id="attachmentTypes-doc" />
<label for="attachmentTypes-doc">
常用档案文件 <code>(txt doc docx xls xlsx ppt pptx zip rar pdf)</code></label>
</span>
                                <span class="multiline">
<input name="attachmentTypes[]" type="checkbox" value="@other@" id="attachmentTypes-other" />
<label for="attachmentTypes-other">
其他格式  <input type="text" class="w-50 text-s mono" name="attachmentTypesOther" value="" /></label>
</span>
                                <p class="description">
                                    用逗号 "," 将后缀名隔开, 例如: <code>cpp, h, mak</code></p>
                            </li>
                        </ul>
                        <ul class="typecho-option typecho-option-submit" id="typecho-option-item-submit-7">
                            <li>
                                <button type="submit" class="btn primary">
                                    保存设置</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="typecho-foot" role="contentinfo">
        <div class="copyright">
            <a href="http://typecho.org" class="i-logo-s">Typecho</a>
            <p>由 <a href="http://typecho.org">Typecho</a> 强力驱动, 版本 1.0 (14.10.10)</p>
        </div>
        <nav class="resource">
            <a href="http://docs.typecho.org">帮助文档</a> &bull;
            <a href="http://forum.typecho.org">支持论坛</a> &bull;
            <a href="https://github.com/typecho/typecho/issues">报告错误</a> &bull;
            <a href="http://extends.typecho.org">资源下载</a>
        </nav>
    </div>
    <script src="http://localhost/admin/js/jquery.js?v=14.10.10"></script>
    <script src="http://localhost/admin/js/jquery-ui.js?v=14.10.10"></script>
    <script src="http://localhost/admin/js/typecho.js?v=14.10.10"></script>
    <script>
    (function() {
        $(document).ready(function() {
            // 处理消息机制
            (function() {
                var prefix = '86a9106ae65537651a8e456835b316ab',
                    cookies = {
                        notice: $.cookie(prefix + '__typecho_notice'),
                        noticeType: $.cookie(prefix + '__typecho_notice_type'),
                        highlight: $.cookie(prefix + '__typecho_notice_highlight')
                    },
                    path = '/';

                if (!!cookies.notice && 'success|notice|error'.indexOf(cookies.noticeType) >= 0) {
                    var head = $('.typecho-head-nav'),
                        p = $('<div class="message popup ' + cookies.noticeType + '">' + '<ul><li>' + $.parseJSON(cookies.notice).join('</li><li>') + '</li></ul></div>'),
                        offset = 0;

                    if (head.length > 0) {
                        p.insertAfter(head);
                        offset = head.outerHeight();
                    } else {
                        p.prependTo(document.body);
                    }

                    function checkScroll() {
                        if ($(window).scrollTop() >= offset) {
                            p.css({
                                'position': 'fixed',
                                'top': 0
                            });
                        } else {
                            p.css({
                                'position': 'absolute',
                                'top': offset
                            });
                        }
                    }

                    $(window).scroll(function() {
                        checkScroll();
                    });

                    checkScroll();

                    p.slideDown(function() {
                        var t = $(this),
                            color = '#C6D880';

                        if (t.hasClass('error')) {
                            color = '#FBC2C4';
                        } else if (t.hasClass('notice')) {
                            color = '#FFD324';
                        }

                        t.effect('highlight', {
                                color: color
                            })
                            .delay(5000).slideUp(function() {
                                $(this).remove();
                            });
                    });


                    $.cookie(prefix + '__typecho_notice', null, {
                        path: path
                    });
                    $.cookie(prefix + '__typecho_notice_type', null, {
                        path: path
                    });
                }

                if (cookies.highlight) {
                    $('#' + cookies.highlight).effect('highlight', 1000);
                    $.cookie(prefix + '__typecho_notice_highlight', null, {
                        path: path
                    });
                }
            })();


            // 导航菜单 tab 聚焦时展开下拉菜单
            (function() {
                $('#typecho-nav-list').find('.parent a').focus(function() {
                    $('#typecho-nav-list').find('.child').hide();
                    $(this).parents('.root').find('.child').show();
                });
                $('.operate').find('a').focus(function() {
                    $('#typecho-nav-list').find('.child').hide();
                });
            })();


            if ($('.typecho-login').length == 0) {
                $('a').each(function() {
                    var t = $(this),
                        href = t.attr('href');

                    if ((href && href[0] == '#') || /^http\:\/\/localhost\/admin\/.*$/.exec(href) || /^http\:\/\/localhost\/index\.php\/action\/[_a-zA-Z0-9\/]+.*$/.exec(href)) {
                        return;
                    }

                    t.attr('target', '_blank');
                });
            }
        });
    })();
    </script>
    <script>
    (function() {
        $(document).ready(function() {
            var error = $('.typecho-option .error:first');

            if (error.length > 0) {
                $('html,body').scrollTop(error.parents('.typecho-option').offset().top);
            }

            $('form').submit(function() {
                if (this.submitted) {
                    return false;
                } else {
                    this.submitted = true;
                }
            });

            $('label input[type=text]').click(function(e) {
                var check = $('#' + $(this).parents('label').attr('for'));
                check.prop('checked', true);
                return false;
            });
        });
    })();
    </script>
</body>

</html>
